@using System.ComponentModel.DataAnnotations
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>@ViewBag.Title - Sơn Ưng Viên</title>

    <!-- Favicon -->
    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <!-- Additional CSS Files -->
    <link rel="stylesheet" type="text/css" href="~/assets/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="~/assets/css/font-awesome.css">

    <link rel="stylesheet" href="~/assets/css/owl-carousel.css">
    <link rel="stylesheet" href="~/assets/css/lightbox.css">
    <link rel="stylesheet" href="~/assets/css/templatemo-hexashop.css">
    <link rel="stylesheet" href="~/admin/css/main.css">
    <!-- Facebook Page -->
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v18.0&appId=483084210611065" nonce="TrKvK4QO"></script>
    @{
        if (ViewBag.Title == "Trang chủ")
        {
            <style>
                .header-area {
                    border-bottom: none !important;
                }
            </style>
        }
    }
</head>
<body>
    <div id="preloader">
        <div class="jumper">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
    <header class="header-area header-sticky">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="main-nav">
                        <!-- ***** Logo Start ***** -->
                        <a href="~/" class="logo">
                            <img src="~/assets/images/my-logo.png" style="max-width: 100%; max-height: 100%; height: 80px">
                        </a>
                        <!-- ***** Logo End ***** -->
                        <!-- ***** Menu Start ***** -->
                        <ul class="nav">
                            <li class="scroll-to-section"><a asp-controller="Categories" asp-action="Index">Danh mục</a></li>
                            <li class="scroll-to-section"><a asp-controller="Products" asp-action="Index">Sản phẩm</a></li>
                            <li class="scroll-to-section"><a asp-controller="DetailedProducts" asp-action="Index" asp-route-id="">Chi tiết sản phẩm</a></li>
                        </ul>
                        <a class='menu-trigger'>
                            <span>Menu</span>
                        </a>
                        <!-- ***** Menu End ***** -->
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- Phần trừ ra cho menu nổi -->
    <div class="topgap" style="margin-top:100px"></div>
        <div class="col-lg-12">
    <div class="container">
            @RenderBody()
        </div>
    </div>

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="first-item">
                        <div class="logo">
                            <img src="~/assets/images/my-white-logo.png" alt="hexashop ecommerce templatemo" style="max-width: 100%; max-height: 100%; height: 80px">
                        </div>
                        <ul>
                            <li><a href="#">19 Nguyễn Hữu Thọ, Quận 7, TPHCM</a></li>
                            <li><a href="#">dreamstore.com</a></li>
                            <li><a href="#">010-020-0340</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2">
                    <h4>DreamStore</h4>
                    <ul>
                        <li><a href="#">Trang chủ</a></li>
                        <li><a href="#">Sản phẩm</a></li>
                        <li><a href="#">Bài viết</a></li>
                        <li><a href="#">Liên hệ</a></li>
                    </ul>
                </div>
                <div class="col-lg-3">
                    <h4>Hỗ trợ khách hàng</h4>
                    <ul>
                        <li><a href="#">Hướng dẫn thanh toán và đặt hàng</a></li>
                        <li><a href="#">Chính sách giao hàng và đổi trả</a></li>
                        <li><a href="#">Thỏa thuận người dùng</a></li>
                        <li><a href="#">Chính sách bảo mật</a></li>
                    </ul>
                </div>
                <div class="col-lg-4">
                    <div class="social">
                        <ul>
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            <li><a href="#"><i class="fa fa-behance"></i></a></li>
                        </ul>
                    </div>
                    <div class="fb-page" data-href="https://www.facebook.com/peaceful.corners"
                         data-height="350"
                         data-hide-cover="false"
                         data-show-facepile="true"></div>
                </div>
                <div class="col-lg-12">
                    <div class="under-footer">
                        <p>
                            Copyright ©
                            <script>
                                document.write(new Date().getFullYear());
                            </script>
                            DreamStore. All Rights Reserved.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <script src="~/assets/js/jquery-2.1.0.min.js"></script>

    <!-- Bootstrap -->
    <script src="~/assets/js/popper.js"></script>
    <script src="~/assets/js/bootstrap.min.js"></script>

    <!-- Plugins -->
    <script src="~/assets/js/owl-carousel.js"></script>
    <script src="~/assets/js/accordions.js"></script>
    <script src="~/assets/js/datepicker.js"></script>
    <script src="~/assets/js/scrollreveal.min.js"></script>
    <script src="~/assets/js/waypoints.min.js"></script>
    <script src="~/assets/js/jquery.counterup.min.js"></script>
    <script src="~/assets/js/imgfix.min.js"></script>
    <script src="~/assets/js/slick.js"></script>
    <script src="~/assets/js/lightbox.js"></script>
    <script src="~/assets/js/isotope.js"></script>

    <!-- Global Init -->
    <script src="~/assets/js/custom.js"></script>
    <script src="~/admin/js/main.js"></script>
    <script src="~/js/site.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function () {
            // Sử dụng Ajax để lấy danh sách danh mục
            $.ajax({
                url: '@Url.Action("GetCategories", "Home")', // Đường dẫn tới hành động GetCategories
                method: 'GET',
                success: function (data) {
                    // Xử lý dữ liệu JSON và xây dựng submenu
                    var categorySubMenu = $('#categorySubMenu');
                    $.each(data, function (index, category) {
                        categorySubMenu.append('<li><a href="/Home/ListProduct/?page=1&c=' + category.meta + '">' + category.categoryName + '</a></li>');
                    });
                },
                error: function () {
                    // Xử lý lỗi
                    alert('Không thể lấy danh sách danh mục.');
                }
            });
        });

        $(function () {
            var selectedClass = "";
            $("p").click(function () {
                selectedClass = $(this).attr("data-rel");
                $("#portfolio").fadeTo(50, 0.1);
                $("#portfolio div").not("." + selectedClass).fadeOut();
                setTimeout(function () {
                    $("." + selectedClass).fadeIn();
                    $("#portfolio").fadeTo(50, 1);
                }, 500);

            });
        });
        function disableButton() {
            var submitButton = document.getElementById("submitButton");
            submitButton.disabled = true; // Vô hiệu hóa nút Submit
            submitButton.innerText = "Đang xử lý..."; // Thay đổi nội dung của nút Submit
        }
    </script>
    @RenderSection("Scripts",required: false)
</body>
</html>