<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
    <style>
        .container .error {
            display: flex;
            justify-content: center; /* Căn giữa theo chiều ngang */
            align-items: center; /* Căn giữa theo chiều dọc */
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="error">
                    <hgroup>
                        <h1>Oops...</h1>
                        <h2>Đã xảy ra lỗi rồi, xin lỗi bạn nhiều :&lt;&lt;&lt;</h2>
                        <img src="~/assets/images/giphy.gif" />
                    </hgroup>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
