@model IEnumerable<DreamerStore2.Models.Category>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewBag.Title = "Trang chủ";
}
<style>
    .main-banner .left-content .tb ihummg {
        filter: brightness(60%);
    }
</style>
<div class="main-banner" id="top">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6">
                <div class="left-content">
                    <div class="thumb">
                        <img src="~/assets/images/my-left-banner.jpg" alt="">
                        <div class="inner-content">
                            <h4>Sơn Ưng Viên</h4>
                            <span>Chào mừng bạn đến với Sơn Ưng Viên</span>
                            <div class="main-border-button">
                                <a href="#">Khám phá ngay!</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="right-content">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="right-first-image">
                                <div class="thumb">
                                    <div class="inner-content">
                                        <h4>Sen Đá Kim Cương</h4>
                                        <span>Best Clothes For Women</span>
                                    </div>
                                    <div class="hover-content">
                                        <div class="inner">
                                            <h4>Sen Đá Kim Cương</h4>
                                            <p>Như những viên kim cương mong manh, mọng nước tạo cảm giác khó có thể chạm vào.</p>
                                            <div class="main-border-button">
                                                <a href="#">Xem thêm</a>
                                            </div>
                                        </div>
                                    </div>
                                    <img src="~/assets/images/baner-right-image-01.jpg">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="right-first-image">
                                <div class="thumb">
                                    <div class="inner-content">
                                        <h4>Sen Đá Hoa Hồng</h4>
                                        <span>Best Clothes For Men</span>
                                    </div>
                                    <div class="hover-content">
                                        <div class="inner">
                                            <h4>Sen Đá Hoa Hồng</h4>
                                            <p>Lá của cây xếp quanh trục, giống hình bông hoa hồng đang nở.</p>
                                            <div class="main-border-button">
                                                <a href="#">Xem thêm</a>
                                            </div>
                                        </div>
                                    </div>
                                    <img src="~/assets/images/baner-right-image-02.jpg">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="right-first-image">
                                <div class="thumb">
                                    <div class="inner-content">
                                        <h4>Cây Móng Rồng</h4>
                                        <span>Best Clothes For Kids</span>
                                    </div>
                                    <div class="hover-content">
                                        <div class="inner">
                                            <h4>Cây Móng Rồng</h4>
                                            <p>Lá cây dài, thon và nhọn dần về phía đầu lá, trên mặt lá có những đường vân trắng.</p>
                                            <div class="main-border-button">
                                                <a href="#">Xem thêm</a>
                                            </div>
                                        </div>
                                    </div>
                                    <img src="~/assets/images/baner-right-image-03.jpg">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="right-first-image">
                                <div class="thumb">
                                    <div class="inner-content">
                                        <h4>Sen Đá Lá Thơm</h4>
                                        <span>Best Trend Accessories</span>
                                    </div>
                                    <div class="hover-content">
                                        <div class="inner">
                                            <h4>Sen Đá Lá Thơm</h4>
                                            <p>Khi chạm vào cây thường có mùi thơm dịu nhẹ, thanh mát.</p>
                                            <div class="main-border-button">
                                                <a href="#">Xem thêm</a>
                                            </div>
                                        </div>
                                    </div>
                                    <img src="~/assets/images/baner-right-image-04.jpg">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ***** Main Banner Area End ***** -->
<!-- ***** About Area Starts ***** -->
<section class="section" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="text-center section-heading mb-4">
                    <h2>Giới thiệu</h2>
                    <span>Sơn Ưng Viên xin gửi lời chúc sức khỏe và lời cảm ơn sâu sắc tới Quý khách hàng đã và đang quan tâm đến sản phẩm và dịch vụ của chúng tôi.<br />Chúng tôi tự hào là đơn vị đang hoạt động một cách chuyên nghiệp và giàu kinh nghiệm trong lĩnh vực cung cấp cây.</span>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-4">
                <img src="https://i.ibb.co/bdvKL6H/cheap-price.png" alt="Price" width="80px" />
                <h4>Affordable Price</h4>
                <p>
                    My design is the cheapeast, many easy methods you can
                    pay with.
                </p>
            </div>
            <div class="col-4">
                <<img src="https://i.ibb.co/17W1hVy/performance.png" alt="Performance" width="80px" />
                <h4>Best Practice Code</h4>
                <p>
                    My code is clean and professional, the speed and
                    performance is my target.
                </p>
            </div>
            <div class="col-4">
                <img src="https://i.ibb.co/y4sTrtT/web-design.png" alt="Web Design" width="80px" />
                <h4>Design Quality</h4>
                <p>
                    My design is the best, I craft it with a very high
                    quality from scratch.
                </p>
            </div>
        </div>
    </div>
</section>
<!-- ***** About Area Ends ***** -->
<!-- ***** Product Area Starts ***** -->

<section class="section" id="product-home">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-heading text-center">
                    <h2>Sản phẩm nổi bật</h2>
                </div>
            </div>
        </div>
    </div>
    @foreach (var category in Model)
    {
        <div class="container mt-3">
            <div class="row align-items-center">
                <div class="col-lg-12">
                    <div class="section-heading">
                        <h3>@category.CategoryName</h3>
                        <span>Details to details is what makes Hexashop different from the other themes.</span>
                    </div>
                    <div class="owl-carousel owl-theme">
                        @foreach (var product in category.Products)
                        {
                            <div class="card border-0 rounded-1 shadow m-3">
                                <img src="~/images/product/@product.Image" class="product-img card-img-top rounded-1" alt="...">
                                <div class="card-body d-flex align-content-between flex-wrap">
                                    <div class="row">
                                        <div class="col-10">
                                            <h4 class="product-title">@product.ProductName</h4>
                                            <p>
                                                <img src="~/assets/images/icon/star.png" alt="" style="width:10%" />
                                                <img src="~/assets/images/icon/star.png" alt="" style="width:10%" />
                                                <img src="~/assets/images/icon/star.png" alt="" style="width:10%" />
                                                <img src="~/assets/images/icon/star.png" alt="" style="width:10%" />
                                                (123)
                                            </p>
                                        </div>
                                        <div class="col-2 p-0 text-center">
                                            <img src="~/assets/images/icon/heart.png" alt="" style="max-width:60%" />
                                        </div>
                                    </div>
                                    <div class="row mt-2 align-items-center" style="width: -webkit-fill-available;">
                                        <div class="col-10">
                                            <h6>@product.ProductPrice ₫</h6>
                                        </div>
                                        <div class="col-2 p-0">
                                            <a href="#" class="btn btn-white p-1 rounded-1"><img src="~/assets/images/icon/cart.png" style="max-width:30px" /></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                    <div class="text-center main-border-black-button">
                        <a href="products.html">Xem thêm</a>
                    </div>
                </div>
            </div>
        </div>
    }
</section>

<!-- ***** Social Area Ends ***** -->
<!-- ***** Explore Area Starts ***** -->
<section class="section" id="explore">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="left-content">
                    <h2>Bài viết</h2>
                    <span>You are allowed to use this HexaShop HTML CSS template. You can feel free to modify or edit this layout. You can convert this template as any kind of ecommerce CMS theme as you wish.</span>
                    <div class="quote">
                        <i class="fa fa-quote-left"></i><p>You are not allowed to redistribute this template ZIP file on any other website.</p>
                    </div>
                    <p>There are 5 pages included in this HexaShop Template and we are providing it to you for absolutely free of charge at our TemplateMo website. There are web development costs for us.</p>
                    <p>If this template is beneficial for your website or business, please kindly <a rel="nofollow" href="https://paypal.me/templatemo" target="_blank">support us</a> a little via PayPal. Please also tell your friends about our great website. Thank you.</p>
                    <div class="main-border-button">
                        <a href="products.html">Discover More</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="right-content">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="leather">
                                <h4>Leather Bags</h4>
                                <span>Latest Collection</span>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="first-image">
                                <img src="~/assets/images/explore-image-01.jpg" alt="">
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="second-image">
                                <img src="~/assets/images/explore-image-02.jpg" alt="">
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="types">
                                <h4>Different Types</h4>
                                <span>Over 304 Products</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ***** Explore Area Ends ***** -->
<!-- ***** Subscribe Area Starts ***** -->
<div class="subscribe">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="section-heading">
                    <h2>By Subscribing To Our Newsletter You Can Get 30% Off</h2>
                    <span>Details to details is what makes Hexashop different from the other themes.</span>
                </div>
                <form id="subscribe" action="" method="get">
                    <div class="row">
                        <div class="col-lg-5">
                            <fieldset>
                                <input name="name" type="text" id="name" placeholder="Your Name" required="">
                            </fieldset>
                        </div>
                        <div class="col-lg-5">
                            <fieldset>
                                <input name="email" type="text" id="email" pattern="[^ @@]*@@[^ @@]*" placeholder="Your Email Address" required="">
                            </fieldset>
                        </div>
                        <div class="col-lg-2">
                            <fieldset>
                                <button type="submit" id="form-submit" class="main-dark-button"><i class="fa fa-paper-plane"></i></button>
                            </fieldset>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-lg-4">
                <div class="row">
                    <div class="col-6">
                        <ul>
                            <li>Store Location:<br><span>Sunny Isles Beach, FL 33160, United States</span></li>
                            <li>Phone:<br><span>010-020-0340</span></li>
                            <li>Office Location:<br><span>North Miami Beach</span></li>
                        </ul>
                    </div>
                    <div class="col-6">
                        <ul>
                            <li>Work Hours:<br><span>07:30 AM - 9:30 PM Daily</span></li>
                            <li>Email:<br><span>info@company.com</span></li>
                            <li>Social Media:<br><span><a href="#">Facebook</a>, <a href="#">Instagram</a>, <a href="#">Behance</a>, <a href="#">Linkedin</a></span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>