@model IEnumerable<DreamerStore2.Models.Product>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Sản phẩm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Breadcrumb Section Begin -->
<section class="breadcrumb-option">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb__text">
                    <h4>Sản phẩm</h4>
                    <div class="breadcrumb__links">
                        <a href="/trang-chu">Trang chủ</a>
                        <span>Sản phẩm</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb Section End -->
<!-- Shop Section Begin -->
<section class="shop spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-heading text-center">
                    <h2>Tất cả sản phẩm</h2>
                    <span>Check out all of our products.</span>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="shop__sidebar">
                    <div class="shop__sidebar__search">
                        <input type="text" placeholder="Search...">
                        <button type="submit">Tìm kiếm</button>
                    </div>
                    <div class="shop__sidebar__accordion">
                        <div class="accordion" id="accordionExample">
                            <div class="card p-3">
                                <div class="card-heading">
                                    <a data-toggle="collapse" data-target="#collapseOne">Danh mục sản phẩm</a>
                                </div>
                                <div id="collapseOne" class="collapse show" data-parent="#accordionExample">
                                    <div class="card-body">
                                        <div class="shop__sidebar__categories">
                                            <ul class="nice-scroll">
                                                <li><a href="">Sen đá</a></li>
                                                <li><a href="">Xương rồng</a></li>
                                                <li><a href="">Chậu đất nung</a></li>
                                                <li><a href="">Chậu sứ</a></li>
                                                <li><a href="">Phụ kiện trang trí</a></li>
                                                <li><a href="">Đất trồng, phân bón</a></li>
                                                <li><a href="">Sỏi trang trí</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card p-3">
                                <div class="card-heading">
                                    <a data-toggle="collapse" data-target="#collapseThree">Giá cả</a>
                                </div>
                                <div id="collapseThree" class="collapse show" data-parent="#accordionExample">
                                    <div class="card-body">
                                        <div class="shop__sidebar__price">
                                            <ul>
                                                <li><input type="checkbox" id="p1" /><label for="p1">Dưới 25000 ₫</label></li>
                                                <li><input type="checkbox" id="p1" /><label for="p1">25000 ₫ - 100000₫</label></li>
                                                <li><input type="checkbox" id="p1" /><label for="p1">100000₫ - 300000₫</label></li>
                                                <li><input type="checkbox" id="p1" /><label for="p1">Trên 300000 ₫</label></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-9">
                <div class="shop__product__option">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="shop__product__option__left">
                                <p>7 sản phẩm</p>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="shop__product__option__right">
                                <p>Sắp xếp</p>
                                <select>
                                    <option value="">Mới nhất</option>
                                    <option value="">Nổi bật</option>
                                    <option value="">Giảm giá</option>
                                    <option value="">Giá giảm dần</option>
                                    <option value="">Gía tăng dần</option>
                                    <option value="">Tên giảm dần</option>
                                    <option value="">Tên tăng dần</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ***** Products Area Starts ***** -->
                <section class="section" id="products">
                    <div class="row">
                        @foreach (var product in Model)
                        {
                            <div class="col-3">
                                <div class="card border-0 rounded-1 shadow mb-3">
                                    <img src="~/assets/images/@product.Image" class="product-img card-img-top rounded-1" alt="...">
                                    <div class="card-body d-flex align-content-between flex-wrap">
                                        <div class="row">
                                            <div class="col-10">
                                                <h4 class="product-title">@product.ProductName</h4>
                                                <p>
                                                    <img src="~/assets/images/icon/star.png" alt="" style="width:15px" />
                                                    <img src="~/assets/images/icon/star.png" alt="" style="width:15px" />
                                                    <img src="~/assets/images/icon/star.png" alt="" style="width:15px" />
                                                    <img src="~/assets/images/icon/star.png" alt="" style="width:15px" />
                                                    (123)
                                                </p>
                                            </div>
                                            <div class="col-2 p-0 text-center">
                                                <img src="~/assets/images/icon/heart.png" alt="" style="max-width:60%" />
                                            </div>
                                        </div>
                                        <div class="row mt-2 align-items-center" style="width: -webkit-fill-available;">
                                            <div class="col-10">
                                                <h6>@product.ProductPrice ₫</h6>
                                            </div>
                                            <div class="col-2 p-0">
                                                <a href="#" class="btn btn-white p-1 rounded-1"><img src="~/assets/images/icon/cart.png" style="max-width:100%" /></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </section>
                <!-- ***** Products Area Ends ***** -->
            </div>
        </div>
    </div>
</section>
<!-- Shop Section End -->