@model DreamerStore2.Models.Product
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Tạo sản phẩm";
    Layout = "~/Views/Shared/_adminLayout.cshtml";
}
<style>
   
</style>
<h1>Create</h1>

<h4>Product</h4>
<form asp-action="Create" enctype="multipart/form-data" onsubmit="disableButton()">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="ProductName" class="control-label"></label>
        <input asp-for="ProductName" class="form-control" />
        <span asp-validation-for="ProductName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="ProductPrice" class="control-label"></label>
        <input asp-for="ProductPrice" class="form-control"/>
        <span asp-validation-for="ProductPrice" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="ProductDescription" class="control-label"></label>
        <textarea asp-for="ProductDescription" class="form-control"></textarea>
        <span asp-validation-for="ProductDescription" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Order" class="control-label"></label>
        <input asp-for="Order" class="form-control" />
        <span asp-validation-for="Order" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Meta" class="control-label"></label>
        <input asp-for="Meta" class="form-control" />
        <span asp-validation-for="Meta" class="text-danger"></span>
    </div>
    <div class="form-group">
        <div class="wrap-upload-buttons">
            <div class="container">
                <div class="upload__box">
                    <div class="upload__btn-box">
                        <label class="upload__btn">
                            <p>Photo</p>
                            <input type="file" id="image-input" click-type="type1" class="upload__inputfile" name="photos" accept="image/*" multiple>
                        </label>
                    </div>
                </div>
            </div>
        </div>
        
        <div id="image-preview"></div>
    </div>
    <div class="form-group">
        <label asp-for="Hide" class="control-label"></label>
        <select asp-for="Hide" class="form-control">
            <option value="true">Hiện</option>
            <option value="false">Ẩn</option>
        </select>
        <span asp-validation-for="Hide" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="CategoryId" class="control-label"></label>
        <select asp-for="CategoryId" class="form-control" asp-items="ViewBag.CategoryId"></select>
    </div>
    <div class="form-group">
        <input type="submit" value="Create" class="btn btn-primary" id="submitButton" />
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

<!--boostatrp modal-->
<div class="modal fade" id="hint_brand" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h4>Đăng hình</h4>
            </div>
            <div class="modal-body">
                <div class="upload__box">
                    <div class="upload__img-wrap">
                        <div class="upload__img-box">
                            <label class="plus__btn">
                                <div style="background-image: url('~/assets/images/icon/plus.png')" class="img-bg"></div>
                                <input type="file" id="image-input" click-type="type2" class="upload__inputfile" name="photos" accept="image/*" multiple>
                            </label>
                        </div>
                    </div>
                </div>
            </div>

            <!--post btn wrap-->
            <div class="modal-footer user-post-btn-wrap">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
                <button type="button" class="btn btn-primary">Lưu</button>
            </div>
            <!--post btn wrap end-->
        </div>
    </div>
</div>
<!--bootstrap modal end-->
<script>
</script>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
